 body {
max-width: 100%;
}
.poiskovik .input input {
    position: relative;
    width: 520px;
    height: 40px;
    transform: translate(370px, 100px);
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;

}
.poiskovik .searchIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 42.2px;
    cursor: pointer;
    transform: translate(380px, 325px);
}
.poiskovik .searchIcon::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 50%; 
    transform: translate(7px, 7px);
}
.poiskovik .searchIcon::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 12px;
    background-color: black;
    transform: translate(27px, 22px) rotate(-45deg);
}
.poiskovik .clearIcon {
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform: translate(-352px, 70px);
}
.poiskovik .clearIcon::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: black;
    transform: rotate(45deg);
}
.poiskovik .clearIcon::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: black;
    transform: rotate(-45deg);
}
#searchResults {
    position: relative;
    font-size: 23px;
    transform: translate(30px, 130px);
    font-family: Times New Roman;
}
 .header {
background-color:#1A7F78;
color: white;
padding: 15px;
text-align: center;
font-size: 40px;
}
.photografia img {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(-625px, 25px);
}

.termins {
    position: absolute;
    top: 300%;
    font: normal 14pt Arial;
    line-height: 70px;
}
.header .textik {
    transform: translate(60px, -30px);
    font-size: 35px;
}
/* Медиа-запрос для экранов с разрешением 3840x2160 и выше */
@media screen and (min-width: 3840px) {
    .poiskovik .input input {
        width: 700px; /* Увеличить ширину поля поиска для больших экранов */
        transform: translate(500px, 100px); /* Изменить позиционирование поля поиска */
    }

    .poiskovik .searchIcon {
        transform: translate(520px, 325px); /* Изменить позиционирование иконки поиска */
    }

    .poiskovik .clearIcon {
        transform: translate(-450px, 70px); /* Изменить позиционирование иконки очистки */
    }

    #searchResults {
        transform: translate(50px, 180px); /* Изменить позиционирование результатов поиска */
        font-size: 30px; /* Изменить размер шрифта для результатов поиска */
    }

    .photografia img {
        transform: translate(-800px, 25px); /* Изменить позиционирование изображения */
        width: 250px; /* Уменьшить размер изображения */
        height: 250px;
    }

    .header .textik {
        transform: translate(120px, -30px); /* Изменить позиционирование заголовка */
        font-size: 50px; /* Изменить размер шрифта заголовка */
    }
}
/* Медиа-запрос для устройств с разрешением 1280x720 и меньше */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .poiskovik .input input {
        width: 300px; /* Уменьшаем ширину поля поиска */
        transform: translate(150px, 50px); /* Изменяем позиционирование поля поиска */
    }

    .poiskovik .searchIcon {
        transform: translate(170px, 250px); /* Изменяем позиционирование иконки поиска */
    }

    .poiskovik .clearIcon {
        transform: translate(-202px, 20px); /* Изменяем позиционирование иконки очистки */
    }

    #searchResults {
        transform: translate(10px, 90px); /* Изменяем позиционирование результатов поиска */
        font-size: 18px; /* Изменяем размер шрифта для результатов поиска */
    }

    .photografia img {
        transform: translate(-500px, 15px); /* Изменяем позиционирование изображения */
        width: 100px; /* Уменьшаем размер изображения */
        height: 100px;
    }

    .header .textik {
        transform: translate(30px, -20px); /* Изменяем позиционирование заголовка */
        font-size: 30px; /* Изменяем размер шрифта заголовка */
    }
}
/* Медиа-запрос для устройств с разрешением 414x896 и меньше */
@media screen and (max-width: 414px) and (max-height: 896px) {
    .poiskovik .input input {
        width: 250px; /* Уменьшаем ширину поля поиска */
        transform: translate(50px, 20px); /* Изменяем позиционирование поля поиска */
    }

    .poiskovik .searchIcon {
        transform: translate(57px, 275px); /* Изменяем позиционирование иконки поиска */
    }

    .poiskovik .clearIcon {
        transform: translate(-10px, -10px); /* Изменяем позиционирование иконки очистки */
    }

    #searchResults {
        transform: translate(10px, 40px); /* Изменяем позиционирование результатов поиска */
        font-size: 14px; /* Изменяем размер шрифта для результатов поиска */
    }

    .photografia img {
        transform: translate(-300px, 10px); /* Изменяем позиционирование изображения */
        width: 80px; /* Уменьшаем размер изображения */
        height: 80px;
    }

    .header .textik {
        transform: translate(10px, -10px); /* Изменяем позиционирование заголовка */
        font-size: 25px; /* Изменяем размер шрифта заголовка */
    }
}
